/* header styling */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
    padding: 1rem 1.2rem;
}
.Logo{
    height: 5rem;
    width: 7rem;
}
/* Sticky footer fix */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
main {
  flex: 1;
}
footer {
  margin-top: auto;
}

/* body styling */
.body{
    text-align: center;
    font-family: cursive;
}
h1{
    padding-bottom: 1.2rem;   
}
.btn{
    margin: 2.5rem;
}
p{
    padding-top: 2.5rem;
    font-size: 2rem;
}
#Start{
    display: flex;
    text-align: center;
    justify-content: center;
}
.end-button-container {
    display: none;
  position: fixed;
  bottom: 40px; /* Adjust this as needed to appear just above the footer */
  right: 1px;
  z-index: 999; /* To ensure it stays on top */
}
.footer-link{
    text-decoration: none;
    color: black;
}

/* dark mode */
.dark-mode{
    background-color:rgba(100, 99, 99, 0.86);
    color: white;
}
.dark-mode a{
    color: white;
}
.dark-mode header{
    background-color:rgb(62, 62, 62); 
}
body.dark-mode footer{
        background-color: rgb(69, 68, 68);
        
}
.dark-mode ul{
        background-color: rgb(73, 73, 73);
}
body {
  transition: background-color 0.5s, color 0.5s;
}
